<script type="text/javascript" src="/sites/Hcmunre/SiteAssets/Hcmunre/js/getsinhvien.js" ></script>
<style>
div#contentBox {
    margin-left: 40px;
}

div#sideNavBox {
    display: none;
}
.modal-dialog {
    width: 600px;
}

</style>
<div ng-app="SharePointAngApp" class="row">
   <div ng-controller="spSinhvienController" >
      <div class="col-sm-12 text-center">
         <h1>Danh sách sinh viên</h1> 
      </div>  
       <table id="tb_showsinhvien" class="table table-condensed table-hover">
         <thead>
         <tr> 
            <th>ID</th>  
            <th>Tên sinh viên</th>  
            <th>Mã sinh viên</th>  
            <th>Lớp</th>
            <th>Tình trạng</th>  
             <th>Edit</th>
          </tr>
          </thead>
          <tbody>
             <tr ng-repeat="sinhvien in sinhviens  |orderBy:mySortFunction | filter:search">
               <td>{{sinhvien.ID}}</td>
               <td>{{sinhvien.Title}}</td>
               <td>{{sinhvien.Masinhvien}}</td>
               <td>{{sinhvien.Lop.Title}}</td>
               <td>{{sinhvien.Tinhtrang}}</td>
               <td>
                  <a id="Idedit" class="btn btn-primary btn-xs" value="Edit" ng-readonly='!($index == eEditable)' data-ng-click="getByDataID(sinhvien.Id)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a id="Delete" class="btn btn-danger btn-xs" value="Delete" data-ng-click="Delete(sinhvien.Id)"><span class="glyphicon glyphicon-trash"></span></a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>