<script type="text/javascript" src="/sites/Hcmunre/SiteAssets/Hcmunre/js/getsinhvien.js" ></script>
<div ng-app="SharePointAngApp" class="row">
   <div ng-controller="spSinhvienController" >
   		<div class="col-sm-12 text-center">
			<h1>Danh sách sinh viên</h1> 
		</div>
		<div>  
		Sort by:  
		<select ng-model="sortExpression">  
			<option value="Title">Sinh viên</option>  
			<option value="Masinvien">Mã sinh viên</option>  
			<option value="Lop">Lớp</option>
			<option value="Tinhtrang">Tình trạng</option>  
		</select>  
        </div>  
        <br/> Search By Any:  
        	<input type="text" ng-model="search.$" />  
        <br/>  
	    <table id="tb_showsinhvien" class="table table-condensed table-hover">
         <tr> 
        	<th>ID</th>  
            <th>Tên sinh viên</th>  
            <th>Mã sinh viên</th>  
            <th>Lớp</th>
            <th>Tình trạng</th>  
			<th>Edit</th>
          </tr>
          <tr ng-repeat="sinhvien in sinhviens  |orderBy:mySortFunction | filter:search">
            <td>{{sinhvien.ID}}</td>
            <td>{{sinhvien.Title}}</td>
            <td>{{sinhvien.Masinhvien}}</td>
            <td>{{sinhvien.Lop}}</td>
            <td>{{sinhvien.Tinhtrang}}</td>
            <td>
            	<input type="button" id="Idedit" value="Edit" ng-readonly='!($index == eEditable)' data-ng-click="getByDataID(sinhvien.Id)" data-toggle="modal" data-target="#myModal"/>
               <input type="submit" id="Delete" value="Delete" data-ng-click="Delete(sinhvien.Id)"/>
            </td>
         </tr>
      </table>
      <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Chỉnh sửa thông tin sinh viên</h4>
					</div>
					<div class="modal-body">
						<div class="col-sm-12">
							<div class="form-group">
								<label>Họ và tên</label>
								<input id="txtItemId" class="form-control required"  data-ng-model="sinhvien.ID" type="hidden">
								<input id="txttitle" class="form-control required"  data-ng-model="sinhvien.Title" type="text">
							</div>
							<div class="form-group">
								<label>Mã sinh viên</label>
								<input id="txtma" class="form-control required"  data-ng-model="sinhvien.Masinhvien" type="text">
							</div>
							<div class="form-group">
								<label>Lớp</label>
								<input id="txtlop" class="form-control required"  data-ng-model="sinhvien.Lop" type="text">
							</div>
							<div class="form-group">
								<label>Tình trạng</label>
								<input id="txttinhtrang" class="form-control required"  data-ng-model="sinhvien.Tinhtrang" type="text">
							</div>
					    </div>
					</div>
					<div class="modal-footer">
						<!--<input type="submit" id="btnsave" value="Save" data-ng-click="Save()"/>-->
						<input type="submit" class="fa fa-pencil" value="Update" id="btnupdateval" data-ng-click="Update()"/>
						<input type="reset" value="Clear" data-ng-click="ClearFields()"/>
					</div>
				</div>
			</div>
		</div>
   </div>
</div>